.button {
  background-color: var(--blue1);
  font-size: inherit;
  font-family: inherit;
  color: white;
  border: none;
  padding: 4px 16px;
  border-radius: 8px;

  transition: background-color 0.1s;

  &:hover {
    cursor: pointer;
    background-color: var(--blue1dark);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}
