.backdrop {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.modal-content {
  max-width: 600px;
  width: 100%;
  background-color: var(--backgroundlight);
  border: solid 1px var(--border);
  border-radius: 4px;
  padding: 16px 20px;
}

@media (max-width: 580px) {
  .backdrop {
    padding: 0px;
    align-items: flex-end;
  }

  .modal-content {
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    min-height: 50%;
  }
}
