.backdrop {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal-content {
  max-width: 500px;
  width: 100%;
  min-height: 300px;
  background-color: var(--backgroundlight);
  border: solid 1px var(--border);
  border-radius: 4px;
  padding: 16px 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  h2:focus {
    outline: none;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .loc-info, .loc-info i {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .pill {
    margin-left: 10px;
    background-color: var(--blue1);
    border-radius: 8px;
    padding: 0px 4px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }
}

.modal-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  button.cancel {
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    color: var(--text);
    border: none;
    padding: 4px 16px;
    border-radius: 8px;

    &:hover {
      background-color: var(--backgroundlight2);
      cursor: pointer;
    }
  }
}

@media (max-width: 580px) {
  .backdrop {
    padding: 0px;
    align-items: flex-end;
  }

  .modal-content {
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    min-height: 50%;
  }
}
