:root {
  --background: #0f121a;
  --border: #20222a;
  --text: #e6e8ee;
  --sub: #9ea1aa;
  --blue1: #317e85;
  --blue1dark: #1f4e64;
  --blue2: #3e49c4;
  --blue2dark: #1e348a;

  --gold: #f2bd2b;
}

/* TODO: dark theme */

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--blue1);
}
