:root {
  --background: white;
  --text: black;
}

/* TODO: dark theme */

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
