.main-content {
  width: 100%;
  padding: 20px 24px;

  > h2 {
    margin-bottom: 14px;
  }

  .study-room-list {
    margin-bottom: 20px;
  }
}

.sub {
  color: var(--sub);
}

.attribution {
  position: fixed;
  bottom: 0px;
  padding: 20px 24px;
}
