.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.main-content {
  width: 100%;
  height: fit-content;
  padding: 20px 24px;

  > h2 {
    margin-bottom: 14px;
  }

  .study-room-list {
    margin-bottom: 20px;
  }
}

.sub {
  color: var(--sub);
}

.attribution {
  margin-top: auto;
  padding: 20px 24px;
}

.location-title {
  width: 100%;
  display: flex;
  gap: 12px;
  margin-bottom: 14px;
  justify-content: space-between;

  button {
    font-size: inherit;
    font-family: inherit;
    color: var(--blue1light);
    text-decoration: underline;
    background-color: transparent;
    border: none;

    display: flex;
    align-items: center;
    gap: 4px;

    white-space: nowrap;

    &:hover {
      cursor: pointer;
    }
  }
}
