div.study-room-card {
  width: 200px;
  border: solid 1px var(--border);
  border-radius: 4px;
  padding: 16px 20px;

  display: flex;
  flex-direction: column;
  gap: 4px;

  h3 {
    margin: 0px;
    font-weight: 400;
  }

  .sub {
    color: var(--sub);
  }
}

.rating-disp {
  font-size: 20px;

  &.unrated {
    color: var(--sub);
  }

  .filled {
    color: var(--gold);
  }
}
